<div id="school-student-record-container" style="overflow: auto;">
    <div id="school-student-details" style="overflow: hidden; width: 850px;">
   
        <table style="margin-left: 20px">
            <tr>
                <td colspan="2">
                    <div style="text-align: center; font-size: 14px; font-weight: bold">
                        School Student Record
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center;">
                        (for school use only)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="font-size: 14px; font-weight: bold">
                        <span data-bind="text: schoolStudentRecordViewModel.schoolName"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-top: 20px; margin-bottom: 10px; font-size: 14px; font-weight: bold; text-align: left">
                        <span data-bind="text: schoolStudentRecordViewModel.name"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 300px" id="student-personal-details">
                    <div>
                        <div> Year Level: <span data-bind="text: schoolStudentRecordViewModel.yearLevel"></span></div>
                        <div>D.O.B: <span data-bind="text: schoolStudentRecordViewModel.dob"></span></div>
                        <div>Age: <span data-bind="text: schoolStudentRecordViewModel.age"></span></div>
                        <div>Born in Australia: <span data-bind="text: schoolStudentRecordViewModel.bornInAus"></span> </div>
                        <div>Time in Australia: <span data-bind="text: schoolStudentRecordViewModel.timeInAus"></span> </div>
                        <div>2nd Language: <span data-bind="text: schoolStudentRecordViewModel.secondLanguage"></span> </div>
                        <div data-bind="visible: schoolStudentRecordViewModel.hasSchoolStudentId"> Student ID: <span data-bind="text: schoolStudentRecordViewModel.schoolStudentId"></span> </div>
                    </div>
                </td>
                <td style="width: 500px" id="student-raw-scores-container"></td>
            </tr>
            <tr>
                <td colspan="2" style="width: 800px" id="student-scaled-scores-container"></td>
            </tr>
            <tr>
                <td colspan="2" style="width: 800px" id="student-notes-container"></td>
            </tr>
        </table>

        @*<div style="height: 230px;">
            <div style="width: 200px; padding-top: 20px; padding-left: 30px; float: left;">

                <div class="info">
                    <p> Year Level: <span data-bind="text: YearLevel"></span></p>
                    <p> Dob: <span data-bind="text: Dob"></span>,  Age: <span data-bind="text: Age"></span> </p>
                    <p> Born in Australia: <span data-bind="text: BornInAus"></span> </p>
                    <p> Time in Australia: <span data-bind="text: TimeInAus"></span> </p>
                    <p> 2nd Language: <span data-bind="text: Lang"></span> </p>
                    <p> Student ID: <span data-bind="text: StudentId"></span> </p>
                </div>
            </div>
            <div style="padding-top: 20px; padding-left: 15px; float: left;">
                <p class="headerText">Raw Scores</p>
                <div id="rawScoreList" style="width: 400px"></div>
            </div>
        </div>
        <div style="text-align: left; padding-left: 30px;">
            <p class="headerText">Scaled Scores</p>
            <div id="scaledScore" style="width: 800px; height: 300px;"></div>
        </div>
        <div style="text-align: left; padding-top: 20px; padding-left: 30px;">
            <p class="headerText">Notes</p>
            <div><textarea id="editor" rows="10" cols="30" style="height: 300px; width: 800px;" data-bind="value: Notes, events: {change: OnNotesChanged}"></textarea></div>
            <br /><br /><br />
        </div>*@
    </div>
</div>