<div id="school-student-record-container" style="overflow: auto;">
    <div id="school-student-details" style="overflow: hidden; width: 850px;">
        <table style="margin-left: 20px">
            <tr>
                <td colspan="2">
                    <div style="text-align: center; font-size: 14px; font-weight: bold">
                        School Student Record
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center;">
                        (for school use only)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="font-size: 14px; font-weight: bold">
                        <span data-bind="text: schoolName"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-top: 20px; margin-bottom: 10px; font-size: 14px; font-weight: bold; text-align: left">
                        <span data-bind="text: name"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 300px" id="student-personal-details">
                    <div>
                        <div> Year Level: <span data-bind="text: yearLevel"></span></div>
                        <div>Dob: <span data-bind="text: dob"></span></div>
                        <div>Age: <span data-bind="text: age"></span></div>
                        <div>Born in Australia: <span data-bind="text: bornInAus"></span> </div>
                        <div>Time in Australia: <span data-bind="text: timeInAus"></span> </div>
                        <div>2nd Language: <span data-bind="text: secondLanguage"></span> </div>
                        <div data-bind="visible: hasSchoolStudentId"> Student ID: <span data-bind="text: schoolStudentId"></span> </div>
                    </div>
                </td>
                <td style="width: 400px" id="student-raw-scores-container">
                    <label>Raw Scores</label>
                    <div id="raw-score-container" style="width: 400px; height: 300px;">
                        <div id="raw-score-list"></div>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 600px" id="student-scaled-scores-container">
                    <label>Scaled Scores</label>
                    <div id="scaled-score-container" style="width: 600px; height: 300px;">
                        <div id="scaled-score-chart"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 800px" id="student-notes-container"></td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#raw-score-list").kendoGrid({
            dataSource: {
                pageable: false
            },
            scrollable: false,
            sortable: false,
            selectable: false,
            columns: [
                {
                    field: "Description",
                    title: " ",
                    width: 250,
                    attributes: { "class": "center-name" }
                },
                {
                    field: "TotalCount",
                    title: "Total",
                    width: 50,
                    attributes: { "class": "center-header" }
                },
                {
                    field: "AttemptedCount",
                    title: "Attempted",
                    width: 50,
                    attributes: { "class": "center-header" }
                },
                {
                    field: "CorrectCount",
                    title: "Correct",
                    width: 50,
                    attributes: { "class": "center-header" }
                },
                {
                    field: "Stanine",
                    title: "Stanine",
                    width: 50,
                    attributes: { "class": "center-header" }
                }
            ]
        });

        $("#scaled-score-chart").kendoChart({
            series: [
                {
                    type: "bar",
                    field: "StudentScore",
                    name: "Student's score",
                    attributes: { "class": "center-name" },
                    tooltip: {
                        visible: true,
                        format: "{0:00}",
                        template: "#= dataItem.Description # : " + "#= kendo.toString(dataItem.StudentStanine,'n0') #"
                    },
                    color: "blue"
                },
                {
                    type: "bar",
                    field: "SchoolScore",
                    name: "School Mean",
                    tooltip: {
                        visible: true,
                        template: "#= dataItem.Description # : " + "#= kendo.toString(dataItem.SchoolStanine,'n0') #"
                    },
                    color: "green"
                }
            ],
            legend: {
                position: "bottom"
            },
            valueAxis: {
                field: "SchoolScore",
                min: 0,
                max: 9,
                labels: {
                    template: "#if(value==0){# #}else {# #: value # #}#",
                    padding: { right: 70 }
                }
            },
            categoryAxis: {
                field: "Description"
            }
        });
    })
</script>