<div id="student-portfolio-print-dialog-container" style="margin: 10px; overflow: hidden">
    <div id="student-portfolio-print-toolbar">
        <button class="k-button" data-bind="click: downloadReports">Download Reports</button>
        <button class="k-button" data-bind="enabled: reportSelectorOption, click: showStudents">Select Students</button>
        <button class="k-button" data-bind="enabled: studentSelectorOption, click: showReports">Select Reports </button>
    </div>
    <div id="student-portfolio-reports" data-bind="visible: reportSelectorOption" style="margin-top: 10px;">
        <div>
            <input type="radio" name="reportOptions" style="margin-right: 10px" value="1" data-type="number" data-bind="checked: selectedReports">All Reports
        </div>
        <div>
            <input type="radio" name="reportOptions" style="margin-right: 10px" value="2" data-type="number" data-bind="checked: selectedReports">Selected Reports
        </div>
        <div style="margin-left: 20px; margin-top: 10px">
            <label>Select one or more reports from the list below:</label>
            <div>
                <input type="checkbox" value="0" data-bind="checked: schoolStudentRecordOption">
                <span>School Student Record</span>
            </div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: naplanProgressIndexOption">
                <span>National Progress Index</span>
            </div>
            <div style="margin-top: 10px">Maths Skills Profile Reports</div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: mathsSkillsProfileListOption">
                <span>List Format</span>
            </div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: mathsSkillsProfileTableOption">
                <span>Table Format</span>
            </div>

            <div style="margin-top: 10px">Reading Skills Profile Reports</div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: readingSkillsProfileListOption">
                <span>List Format</span>
            </div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: readingSkillsProfileTableOption">
                <span>Table Format</span>
            </div>

            <div style="margin-top: 10px">Writing Criteria Reports</div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: writingCriteriaOption">
                <span>Writing Criteria</span>
            </div>
            <div>
                <input type="checkbox" value="0" data-bind="checked: markedWritingCriteriaOption">
                <span>Marked Writing Script</span>
            </div>
        </div>
    </div>
    <div id="student-portfolio-students" data-bind="visible: studentSelectorOption" style="margin-top: 10px;">
        <div>
            <input type="radio" name="studentOptions" style="margin-right: 10px" value="1" data-type="number" data-bind="checked: selectedStudents">All Students
        </div>
        <div>
            <input type="radio" name="studentOptions" style="margin-right: 10px" value="2" data-type="number" data-bind="checked: selectedStudents">Selected Students
        </div>
        <div style="margin-left: 15px">
            <div id="student-list" style="margin-top: 10px; width: 650px"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var printViewModel = new StudentPortfolioPrintViewModel(testFile);
        printViewModel.initStudentList();

        kendo.bind($("#student-portfolio-print-dialog-container"), printViewModel);
    })
</script>