<div id="student-portfolio-list-container">
    <table>
        <tr>
            <td>
                <span id="student-list-container"></span>
                <button class="btn btn-default" onClick="schoolStudentRecord()">School Student Record</button>
                <button class="btn btn-default" onClick="studentNaplanReport()">Student Naplan</button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                </div>

                <div id="student-report" style="vertical-align: top">
                    <p>Select a report..</p>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>

    var studentPortfolioViewModel;
    $(document).ready(function () {
        var studentNavigationControl = new StudentNavigationControl("student-list-container");
        studentNavigationControl.create("Students",
            function (student) {
                studentPortfolioViewModel.showStudentReport(student);

            },
            300, 600);

        studentPortfolioViewModel = new StudentPortfolioViewModel();
        studentPortfolioViewModel.setDatasource(testFile);
        studentNavigationControl.setDatasource(testFile.students);

    });

    function schoolStudentRecord() {
        studentPortfolioViewModel.setReport(studentPortfolioViewModel.studentReports[0]);
    }

    function studentNaplanReport() {
       
        studentPortfolioViewModel.setReport(studentPortfolioViewModel.studentReports[1]);
    }
</script>