<div id="student-portfolio-list-container">
    <table>
        <tr>
            <td>
                <span id="student-list-container"></span>
                <span style="margin-left: 5px; width: 200px" id="report-list-container"></span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                </div>

                <div id="student-report" style="vertical-align: top">
                    <p>Select a report..</p>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>

    var studentPortfolioViewModel;
    $(document).ready(function () {
        var studentNavigationControl = new StudentNavigationControl("student-list-container");
        studentNavigationControl.create("Students",
            function (student) {
                studentPortfolioViewModel.showStudentReport(student);

            },
            300, 600);

        studentPortfolioViewModel = new StudentPortfolioViewModel();
        studentPortfolioViewModel.createReportList("report-list-container");
        studentPortfolioViewModel.setDatasource(testFile);
        studentNavigationControl.setDatasource(testFile.students);

    });

 
</script>