<div id="popup-window-container"></div>
<div id="student-portfolio-list-container">
    <div id="student-portfolio-toolbar" style="margin-top: 10px;"></div>
    <table>
        <tr>
            <td style="vertical-align: top">
                <div id="student-list-container"></div>
            </td>
            <td style="vertical-align: top">
                <div id="student-report" >
                </div>
            </td>
        </tr>
    </table>
</div>

<script>

    var studentPortfolioViewModel;
    $(document).ready(function () {
        $("#student-portfolio-toolbar").kendoToolBar({
            items: [
                { template: "<div id='custom-group-container' style='padding-left: 10px;'></div>" },
                { template: "<div id='report-list-container' style='padding-left: 5px; padding-right:5px;'></div>" },
                { type: "button", text: "Print Student Reports" , click: printReports}
            ]
        });

        var studentNavigationControl = new StudentListControl("student-list-container");
        studentNavigationControl.create("Students",
            function (student) {
                studentPortfolioViewModel.showStudentReport(student);
            },
            300, 800);

      
        var customGroupFilterControl = new StudentFilterControl(testFile);
        customGroupFilterControl.create("custom-group-container",
            function(students) {
                studentNavigationControl.setDatasource(students);
            });

        studentPortfolioViewModel = new StudentPortfolioViewModel(testFile);
        studentPortfolioViewModel.createReportList("report-list-container");
        studentNavigationControl.setDatasource(testFile.students);

        function printReports() {
            studentPortfolioViewModel.printReports();
        }
    });


</script>