<div id="student-math-profile-container" style="margin: 20px">
    <div style="text-align: center; font-size: 14px; font-weight: bold; margin-top: 10px">Maths Skill Profile</div>
    <div style="font-weight: bold; font-size: 13px; margin-top: 20px">
        <span data-bind="text: name"></span>
        <div class="pull-right" style="font-weight: bold; font-size: 12px">
            <span data-bind="text: studentInfo"></span>
        </div>
    </div>

   
</div>
