<div class="step-title">
    <span style="margin-right: 10px">Step 2:</span>Enter number of classes
</div>
<div style="margin: 20px">
    <div data-bind="visible: isCoedSchool">
        <div>Choose students to include option:</div>
        <div>
            <input type="radio" value="All" data-bind="checked:selectedGenderOption" />
            <span>All Students</span>
        </div>
        <div>
            <input type="radio" value="Girls" data-bind="checked:selectedGenderOption" />
            <span>Girls Only</span>
        </div>
        <div>
            <input type="radio" value="Boys" data-bind="checked:selectedGenderOption" />
            <span>Boys Only</span>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 5px">Number of students in this test: <span data-bind="text: studentCount"></span></div>
    <div style="margin-bottom: 5px">Number of students in all classes: <span data-bind="text: studentCountInAllClasses"></span></div>

    <div id="class-definition-container" style="margin-bottom: 20px">
        <div>
            <span>Number of bands: </span>
            <input style="width: 80px; margin-right: 15px; margin-left: 10px; margin-bottom: 5px"
                   data-role="numerictextbox"
                   data-format="n0"
                   data-min="1"
                   data-max="30"
                   data-bind="value: bandCount, events: { change: onBandCountChanged  }">
            <span>(Max 30 Classes)</span>
        </div>
        <p>You can adjust the number of students in each classes below:</p>
        <div id="classes-settings-container" style="width: 540px">
            <table id="band-definition-table"></table>
        </div>
    </div>

    <div data-bind="visible: isCoedSchool">
        <input type="checkbox" name="mixGirlsBoys" value="0" data-bind="checked: mixGirlsBoysOption"> Mix girls and boys equally.
    </div>

    <div>
        <input type="checkbox" value="0" data-bind="checked: studentLeavingOption, events: { change: studentLeavingOptionChanged }">
        <span>Exclude students who are leaving school at the end of the year.</span>
        <span style="margin-left: 5px;" data-bind="text: leavingStudentsCount, visible: studentLeavingOption">students</span>
        <span style="margin-left: 5px; margin-right: 5px" data-bind="visible: studentLeavingOption">students</span>
        <button class="btn btn-sm" data-bind="click: editLeavingStudents, , visible: studentLeavingOption">Edit</button>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            customGroupViewModel.loadGroupingViewModel();
            kendo.bind($("#custom-group-container"), customGroupViewModel);
        });
</script>