<div id="class-definition-container">
    <div>
        <span>Number of classes: </span>
        <input style="width: 80px; margin-right: 15px; margin-left: 10px; margin-bottom: 5px"
               data-role="numerictextbox"
               data-format="n0"
               data-min="1"
               data-max="30"
               data-bind="value: classCount, events: { change: onClassCountChange, spin: onClassCountChange  }">
        <span>(Max 30 Classes)</span>
    </div>
    <p>You can adjust the number of students in each classes below:</p>
    <div id="classes-settings-container" style="width: 540px">
    </div>
    <div class="btn btn-default" data-bind="click: getClasses">Save</div>

</div>
<script>

    var classDefinitionViewModel = new ClassDefinitionViewModel(250);

    $(document)
        .ready(function() {
            kendo.bind($("#class-definition-container"), classDefinitionViewModel);
        });
</script>