<div style="font-size: 12px">
    <style scoped>
        input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
        }

        .step-title {
            font-size: 12px;
            font-weight: bold;
        }
    </style>

    <div class="container-fluid" id="custom-group-view">
        <div id="loading-panel">Loading...</div>
        <div id="custom-group-action"data-binding="visible: isReady">
            <button class="btn btn-default" data-bind="click: create">Create</button>
            <button class="btn btn-default" data-bind="click: delete">Delete</button>
            <button class="btn btn-default" data-bind="click: edit">Edit</button>
        </div>

        <table>
            <tr>
                <td>
                    <div id="custom-group-menu-panel"></div>
                </td>
                <td>
                    <div id="custom-group-content"></div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var customgroupListViewModel;
        $(document)
            .ready(function() {
                customgroupListViewModel = new CustomGroupListViewModel(
                    document.getElementById("custom-group-menu-panel"),
                    document.getElementById("custom-group-content"));
                $("#custom-group-container").hide();
                customgroupListViewModel.setDatasource(testFile);
                customgroupListViewModel.showMenuPanel();
                $("#loading-panel").hide();
                $("#custom-group-container").show();
                kendo.bind($("#custom-group-view"), customgroupListViewModel);
            });
    </script>
</div>