<div id="popup-window-container"></div>
<div style="font-size: 12px">
    <style scoped>
        input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .table td {
            vertical-align: top;
        }

        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
        }

        .step-title {
            font-size: 12px;
            font-weight: bold;
        }
    </style>

    <div class="container-fluid" id="custom-group-view">
       
        <div id="custom-group-action"data-binding="visible: isReady">
            <button id="create-button" class="btn btn-default" data-bind="click: create">Create</button>
            <button id="delete-button" class="btn btn-default" data-bind="click: delete">Delete</button>
            <button id="regroup-button" class="k-button" data-bind="click: splitgroup">Split Group</button>
            <button id="export-button" class="k-button" data-bind="click: export">Export</button>
        </div>

        <table>
            <tr>
                <td style="vertical-align: top">
                    <div id="custom-group-menu-panel" style="height: 100%;"></div>
                </td>
                <td style="vertical-align: top">
                    <div id="custom-group-content">
                        <div id="message-text" data-bind="visible: hasMessage">
                            <span style="margin: 20px" data-bind="text: message"></span>
                        </div>
                        <div id="classes-settings-container" style="width: 600px" data-bind="invisible: hasMessage">
                            <table id="custom-classes-table"></table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var customgroupListViewModel;
        $(document)
            .ready(function () {
                var kendoHelper = new KendoHelper();

                customgroupListViewModel = new CustomGroupListViewModel();
                customgroupListViewModel.setDatasource(testFile);
                customgroupListViewModel.showCustomGroups("custom-group-menu-panel");
                
                kendo.bind($("#custom-group-view"), customgroupListViewModel);

                kendoHelper.createToolTip("create-button", "Create a new custom group");
                kendoHelper.createToolTip("delete-button", "Delete selected custom group");
                kendoHelper.createToolTip("regroup-button", "Create one or more custom groups using selected custom group");
                kendoHelper.createToolTip("export-button", "Export selected gropup to csv or excel file");

            });
    </script>
</div>