<div id="popup-window-container"></div>
<div style="font-size: 12px">
    <style scoped>
        input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .table td {
            vertical-align: top;
        }

        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
        }

        .step-title {
            font-size: 12px;
            font-weight: bold;
        }
    </style>

    <div class="container-fluid" id="custom-group-view">
       
        <div id="custom-group-action"data-binding="visible: isReady">
            <button class="btn btn-default" data-bind="click: create">Create</button>
            <button class="btn btn-default" data-bind="click: delete">Delete</button>
            <button class="btn btn-default" data-bind="click: edit">Edit</button>
        </div>

        <table>
            <tr>
                <td style="vertical-align: top">
                    <div id="custom-group-menu-panel" style="height: 100%;"></div>
                </td>
                <td style="vertical-align: top">
                    <div id="custom-group-content">
                        <div id="classes-settings-container" style="width: 600px">
                            <table id="custom-classes-table"></table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var customgroupListViewModel;
        $(document)
            .ready(function () {
                customgroupListViewModel = new CustomGroupListViewModel();
                customgroupListViewModel.setDatasource(testFile);
                customgroupListViewModel.showCustomGroups("custom-group-menu-panel");
              
                kendo.bind($("#custom-group-view"), customgroupListViewModel);
            });
    </script>
</div>