<div class="step-title">
    <span style="margin-right: 10px">Step 4:</span>Enter Group Name
</div>
<div style="margin: 20px">
    <div>Enter a group name</div>
    <input data-role="maskedtextbox"
           data-mask=""
           data-bind="value: groupName"
           style="width: 500px">
</div>


<script>
    $(document)
        .ready(function () {
            kendo.bind($("#custom-group-container"), customGroupViewModel);
        });
</script>
