<div style="margin: 20px">
    <span style="margin-right: 10px">Step 4:</span>Finalise Custom Groups
</div>
<div style="margin: 20px">
    <div id="classes-settings-container" style="width: 600px">
        <table id="custom-classes-table"></table>
    </div>
</div>


<script>
    $(document)
        .ready(function () {
            kendo.bind($("#custom-group-container"), customGroupViewModel);

            customGroupViewModel.generateClasses();
        });
</script>
