<div id="window-popup"></div>
<div class="container-fluid">
    <style scoped="">
        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
    <div id="content">
        <div class="row">
            <input id="test-number" style="width: 280px; margin-right: 5px; margin-left: 10px">
            <button class="btn btn-default" onClick="getResults()">Get</button>
            <button class="btn btn-default" onClick="createSchoolStudentRecord()">School Student Record</button>
        </div>
        
        <div id="student-list-container" class="pull-left"></div>
    </div>
</div>
<script>
    var testFile = new TestFile();
    var studentListControl = new StudentListControl(document.getElementById("student-list-container"));
    studentListControl.create("Students");

    $(document)
        .ready(function() {
            $("#test-number")
                .kendoComboBox({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        { text: " Marcellin Burlene - 14181", value: 1014181 }, // 1014181
                        { text: "Padua - 14270", value: 1010996 },
                        { text: "Abbotsleigh - 14270", value: 1014270 },
                        { text: "Casimir Catholic College - 15246", value: 1015246 },
                        { text: " Emanuel School - 14337", value: 1014337 }
                    ],
                    index: 0
                });
        });

    function getResults() {
        $.ajax({
            url: '@Url.Action("GetResults", "CustomGroup")',
            data: { testnum: 1014181 },
            type: 'POST',
            cache: false,
            success: function (data) {
                debugger;
                testFile.clear();
                testFile.set(data.Test, data.Results);

                studentListControl.setDatasource(testFile.students);
            },
            fail: function(data) {

            }
        });
    }
    
</script>