<div class="step-title">
    <span style="margin-right: 10px">Step 2:</span>Enter number of classes
</div>
<div style="margin: 20px">
  
    <div style="margin-top: 20px;">Number of students in this test: <span data-bind="text: studentCount"></span></div>
    <div style="margin-top: 10px; margin-bottom: 5px">
        <span>Number of students who has language preferences: </span>
        <span data-bind="text: selectedClassDefinitionViewModel.studentWithLanguagePrefCount"></span>
        <button id="showStudent" class="btn btn-default" style="margin-left: 10px"
                data-bind="text: selectedClassDefinitionViewModel.showStudentLanguageCaption,
                click: selectedClassDefinitionViewModel.showStudentLanguagePreferences,
                enabled: selectedClassDefinitionViewModel.hasStudentLanguagePreferences">
            View
        </button>
        <button class="btn btn-default" style="margin-left: 10px" data-bind="click: selectedClassDefinitionViewModel.importStudents">Import</button>
        <div style="width: 400px; margin-top: 10px" id="upload-language-upload-control">
            <div>Click on the select button</div>
            <input type="file" id="files" name="files"/>
        </div>

    </div>
    <div style="margin-top: 10px;" id="student-language-preferences-container">
        <div id="student-language-preferences-list" style="width: 700px; height: 400px"
             data-bind="visible: selectedClassDefinitionViewModel.showStudentLanguageList"></div>
    </div>

    <div id="class-definition-container" style="margin-bottom: 20px; margin-top: 10px">
        <p>You can adjust the number of students in each classes below:</p>
        <div id="classes-settings-container" style="width: 540px">
            <table id="band-definition-table"></table>
        </div>
    </div>

    <div data-bind="visible: isCoedSchool">
        <input type="checkbox" name="mixGirlsBoys" value="0" data-bind="checked: mixGirlsBoysOption"> Mix girls and boys equally.
    </div>

    <div>
        <input type="checkbox" value="0" data-bind="checked: studentLeavingOption, events: { change: studentLeavingOptionChanged }">
        <span>Exclude students who are leaving school at the end of the year.</span>
        <span style="margin-left: 5px;" data-bind="text: leavingStudentsCount, visible: studentLeavingOption">students</span>
        <span style="margin-left: 5px; margin-right: 5px" data-bind="visible: studentLeavingOption">students</span>
        <button class="btn btn-sm" data-bind="click: editLeavingStudents, , visible: studentLeavingOption">Edit</button>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            customGroupViewModel.loadGroupingViewModel();
            kendo.bind($("#custom-group-container"), customGroupViewModel);
        });
</script>