<div class="panel panel-primary" style="width: 600px">
    <div class="panel-heading">Help</div>
    <div class="panel-body">
        Help text goes here
    </div>
</div>

<div>
    <span style="margin-right: 10px">Step 4:</span>Enter group name
</div>
<div style="margin: 20px">

</div>



