<div class="step-title">
    <span style="margin-right: 10px">Step 6:</span>Finished
</div>
<div style="margin: 20px">
    <div id="message-text">
        <span>Saving custom groups...</span>
    </div>
</div>


<script>
    $(document)
        .ready(function () {
            customGroupViewModel.saveClasses();
            kendo.bind($("#custom-group-container"), customGroupViewModel);
        });
</script>
