<div class="step-title">
    <span style="margin-right: 10px">Step 3:</span>Enter paired and/or separated students if required
</div>
<div style="margin: 20px">
    <table>
        <tr>
            <td style="width: 500px">
                <div id="button-actions" style="margin-bottom: 5px; margin-top: 10px" >
                    <button id="save-studentset-button" class="k-button" style="margin: 2.5px 0 2.5px 2.5px" data-bind="click: saveStudentSets">Save</button>
                    <button id="load-studentset-button" class="k-button" style="margin: 2.5px 0 2.5px 2.5px" data-bind="click: loadStudentSets">Load</button>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 500px" id="joined-student-list"></td>
        </tr>
        <tr>
            <td style="width: 500px" id="separated-student-list"></td>
        </tr>
    </table>
</div>


<script>
    $(document)
        .ready(function() {
            customGroupViewModel.showStudentGroupingOption(
                document.getElementById("joined-student-list"),
                document.getElementById("separated-student-list"));

            kendo.bind($("#custom-group-container"), customGroupViewModel);

            var kendoHelper = new KendoHelper();
            kendoHelper.createToolTip("save-studentset-button", "Save the paired and separated students list");
            kendoHelper.createToolTip("load-studentset-button", "Load previously saved paired and separated students list");

        });
</script>