<div class="step-title">
    <span style="margin-right: 10px">Step 3:</span>Enter paired and/or separated students if required
</div>
<div style="margin: 20px">
    <table>
        <tr>
            <td style="width: 500px" id="joined-student-list"></td>
        </tr>
        <tr>
            <td style="width: 500px" id="separated-student-list"></td>
        </tr>
    </table>
</div>


<script>
    $(document)
        .ready(function () {
            kendo.bind($("#custom-group-container"), customGroupViewModel);

            customGroupViewModel.showStudentGroupingOption(
                document.getElementById("joined-student-list"),
                document.getElementById("separated-student-list"));
        });
</script>