  <div class="container-fluid" id="custom-group-view">
        <div id="custom-group-action" data-binding="visible: isReady">
            <button id="create-button" class="btn btn-default" data-bind="click: create">Create</button>
            <button id="delete-button" class="btn btn-default" data-bind="click: delete">Delete</button>
            <button id="regroup-button" class="k-button" data-bind="click: splitgroup">Split Group</button>
            <button id="export-button" class="k-button" data-bind="click: export">Export</button>
        </div>

        <table style="background-color: yellow; height: 800px; margin: 10px; overflow: auto">
            <tr>
                <td style="vertical-align: top">
                    <div id="custom-group-menu-panel" style="background-color: blue; height: 800px; width: 300px; margin: 5px"></div>
                </td>
                <td style="vertical-align: top">
                    <div id="custom-group-content" style="background-color: red; height: 800px; width: 300px; margin: 5px">
                        <div id="classes-settings-container">
                            <table id="custom-classes-table" style="background-color: lightcoral; height: 800px; margin: 5px">
                                <tr>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">One</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Two</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Three</td>
                                </tr>
                                <tr>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">One</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Two</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Three</td>
                                </tr>
                                <tr>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">One</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Two</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Three</td>
                                </tr>
                                <tr>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">One</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Two</td>
                                    <td style="background-color: green; height: 300px; width: 300px; margin: 5px">Three</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

