<div>
    <span style="margin-right: 10px">Step 2:</span>Enter number of classes
</div>
<div style="margin: 20px">
   <div style="margin-top: 20px; margin-bottom: 5px">Number of students in this test: <span data-bind="text: studentCount"></span></div>
    <div style="margin-bottom: 5px">Number of students in all classes: <span data-bind="text: studentCountInAllClasses"></span></div>

    <div id="class-definition-container" style="margin-bottom: 20px">
        <p>You can adjust the number of students in each classes below:</p>
        <div id="classes-settings-container" style="width: 540px">
            <table id="band-definition-table"></table>
        </div>
    </div>

    <div data-bind="visible: isCoedSchool" >
        <input type="checkbox" name="mixGirlsBoys" value="0" data-bind="checked: checkboxMixChecked, events: { change: checkboxMixCheckedEvent }"> Mix girls and boys equally.
    </div>

    <div>
        <input type="checkbox" value="0" data-bind="checked: checkboxChecked, events: { change: checkboxCheckedEvent }">
        <span>Exclude students who are leaving school at the end of the year.</span>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            customGroupViewModel.loadGroupingViewModel();
            kendo.bind($("#custom-group-container"), customGroupViewModel);
        });
</script>