<div>
    <span style="margin-right: 10px">Step 2:</span>Enter number of classes
</div>
<div style="margin: 20px">
    <div data-bind="visible: isCoedSchool">
        <div>Choose students to include option:</div>
        <div>
            <input type="radio" value="0" data-bind="checked:selectedGenderOption" />
            <span>All Students</span>
        </div>
        <div>
            <input type="radio" value="1" data-bind="checked:selectedGenderOption" />
            <span>Girls Only</span>
        </div>
        <div>
            <input type="radio" value="2" data-bind="checked:selectedGenderOption" />
            <span>Boys Only</span>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 5px">Number of students in this test: <span data-bind="text: studentCount"></span></div>

    <div id="class-definition-container">
        <p>You can adjust the number of students in each classes below:</p>
        <div id="classes-settings-container" style="width: 540px">
            <table id="band-definition-table"></table>
        </div>
    </div>

    <div data-bind="visible: isCoedSchool" style="margin-top: 20px">
        <input type="checkbox" name="mixGirlsBoys" value="0" data-bind="checked: checkboxMixChecked, events: { change: checkboxMixCheckedEvent }"> Mix girls and boys equally.
    </div>

    <div>
        <input type="checkbox" value="0" data-bind="checked: checkboxChecked, events: { change: checkboxCheckedEvent }">
        <span>Exclude students who are leaving school at the end of the year.</span>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            customGroupViewModel.loadGroupingViewModel();
        });
</script>