<div id="window-popup"></div>
<div class="container-fluid">
    <style scoped="">
        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
    <div id="nav-panel">
        <div class="row">
            <input id="test-number" style="width: 280px; margin-right: 5px; margin-left: 10px">
            <button class="btn btn-default" onClick="getResults()">Get</button>
            <button class="btn btn-default" onClick="openStudentPortfolioList()">Student Portfolios</button>
            <div id="message-text"></div>
        </div>
    </div>
    <div id="content">
    </div>
</div>
<script>
    var testFile = new TestFile();
   
    $(document)
        .ready(function() {
            $("#test-number")
                .kendoComboBox({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        { text: " Marcellin Burlene - 14181", value: 1014181 }, // 1014181
                        { text: "Padua - 14270", value: 1010996 },
                        { text: "Abbotsleigh - 14270", value: 1014270 },
                        { text: "Casimir Catholic College - 15246", value: 1015246 },
                        { text: " Emanuel School - 14337", value: 1014337 }
                    ],
                    index: 0
                });
        });

    function getResults() {
        var numericTextBox = $("#test-number").data("kendoComboBox");
        var testnumber = parseInt(numericTextBox.value());

        $.ajax({
            url: '@Url.Action("GetResults", "Home")',
            data: { testnum: testnumber },
            type: 'POST',
            cache: false,
            success: function (data) {
                
                testFile.clear();
                testFile.set(data.Test, data.School, data.Results, [],
                    data.CustomGroups, data.StanineTables);
                $("#message-text").replaceWith("Rows: " + data.Results.length);
             
            },
            fail: function(data) {

            }
        });
    }

    
    function openStudentPortfolioList() {
        $.ajax({
            url: '@Url.Action("StudentPortfolioView", "Report")',
            type: 'POST',
            cache: false,
            success: function (html) {
                $("#content").replaceWith("<div id='content'></div>");
                $("#content").append(html);
            },
            fail: function (data) {

            }
        });
    }
  
</script>